.body__container{
    margin: 15% auto;
}
.button__row{
    margin: 5% auto;
    text-align: center;
}
.body__input{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.man__button{
    margin: 5% 0;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.woman__button{
    margin: 5% 0;
    background-color: purple;
    border: 1px solid purple;
}
